html {
  background: #fff;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: inherit;
  padding: 0;
}

.well {
  margin: 0 auto;
  max-width: 45em;
}

.img {
  width: 100%;
  height: auto;
}

.img-overview {
  max-width: 16em;
}