html {
  background: #fff;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: inherit;
  margin: 0;
  margin-bottom: 1em;
}

.well {
  margin: 0 auto;
  max-width: 45em;
}

.img {
  max-width: 100%;
  height: auto;
}

.img-overview {
  max-width: 16em;
  width: 100%;
}

.img-detail {
  object-position: center;
  object-fit: cover;
}

.right {
  float: right;
}

table {
  width: 100%;
}